*.swp
*.swo
*.swn
*.nfs*
*.vcd
**/*.vcd
compiled
**/compiled
*.alib*
*.svf
*.cmd*
*.log*
**/xrun*
**/waves.shm
**/simv*
xcelium.d
.template
single_core/synth/synth_with_sram/command.log
single_core/synth/synth_without_sram/command.log
